:root {
  --clr-base: hsl(0 0 100);
  --clr-base-secondary: hsl(from var(--clr-base) h s calc(l - 7));
  --clr-content: hsl(0 0 5);
  --clr-content-secondary: hsl(from var(--clr-content) h s calc(l + 25));
  --clr-border: hsl(0 0 5 / 50%);
  --clr-btn-all-clear: hsl(0, 84%, 48%);
  --clr-btn-operator: hsl(from var(--clr-base) h s calc(l - 25));
  --clr-btn-calculate: hsl(219, 84%, 53%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1em + 0.5em);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--clr-base);
  color: var(--clr-content);
  font-family: system-ui, sans-serif;
}

button,
.display {
  border-radius: 7px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  border: none;
  padding: 1em;
  background-color: var(--clr-base-secondary);
  color: var(--clr-content-secondary);
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  width: 17.5rem;
}

.display {
  border: 1px solid var(--clr-border);
  padding: 0.25em;
  font-size: 2.5rem;
  text-align: right;
}

.buttons,
.row {
  display: flex;
  gap: 0.5rem;
}

.buttons {
  flex-wrap: wrap;
  width: fit-content;
}

.btn--all-clear {
  width: 8.5rem;
  background-color: var(--clr-btn-all-clear);
  color: var(--clr-base);
  text-transform: uppercase;
}

.btn--operator {
  background-color: var(--clr-btn-operator);
  color: var(--clr-content);
}
