*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1em + 0.5em);
}

body {
  background-color: white;
  color: black;
  font-family: system-ui, sans-serif;
}

button {
  width: 2em;
  height: 2em;
  padding: 0.15em;
}

.buttons {
  display: flex;
}

.numbers {
  display: flex;
  flex-wrap: wrap-reverse;
  width: 6rem;
}

.operators {
  display: flex;
  width: 4rem;
}
