:root {
  --clr-bg: hsl(from var(--clr-fg) h s calc(l - 10));
  --clr-mg: hsl(from var(--clr-fg) h s calc(l - 5));
  --clr-fg: hsl(0 0 100);
  --clr-txt: hsl(0 0 5);
  --clr-txt-muted: hsl(from var(--clr-txt) h s calc(l + 25));
  --clr-border: hsl(0 0 5 / 50%);
  --clr-btn-ac: hsl(0 80 55);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
  line-height: calc(1em + 0.5em);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  background-color: var(--clr-bg);
  color: var(--clr-txt);
  font-family: system-ui, sans-serif;
}

button,
main,
.display {
  border: none;
  border-radius: 5px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  padding: 1em;
  background-color: var(--clr-fg);
  color: var(--clr-txt-muted);
  font-size: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.75em;
  width: 20rem;
  padding: 1.675rem 1.25rem;
  background-color: var(--clr-mg);
}

.display {
  padding: 0.25em;
  font-size: 2.5rem;
  text-align: right;
}

.buttons,
.row {
  display: flex;
  gap: 0.5rem;
}

.buttons {
  flex-wrap: wrap;
  width: fit-content;
}

.btn--all-clear {
  background-color: var(--clr-btn-ac);
  color: var(--clr-fg);
}

.btn--operator {
  background-color: var(--clr-txt-muted);
  color: var(--clr-fg);
}
